
.container {
}

.title_card > p {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
}

.title_001 {
  animation: inner-top 0.2s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title_002 {
  animation: inner-top 0.5s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title_003 {
  animation: inner-top 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title_004 {
  animation: inner-top 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title_desc {
  flex:1;
  font-size: 18px;
  line-height:1;
  animation: inner-top 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.profile {
  animation: inner-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}



@keyframes inner-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes inner-top {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
 